# Node.js
node_modules/
public/
# Logs
logs
*.log
npm-debug.log*

# Environment


# Build files
dist/
build/
out/

# Dependency directories
jspm_packages/

# Sensitive or private files
*.key
*.pem

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# npm
*.bak
*.backup
*.orig
